*.dot
*.dylib
*.prof
*.pyc
*.pyd
*.so
*.bin
*.log
*.c
.build_path.txt
*.onnx
plot*.png
plot*.csv
plot*.xlsx
.coverage
__pycache__
.eggs/*
_cache/*
build/*
dist/*
*egg-info/*
temp_*
teachcompute/_config.py
.ipynb_checkpoints
_doc/sg_execution_times.rst
_doc/CHANGELOGS.rst
_doc/LICENSE.txt
_doc/auto_examples/*
_doc/examples/*.proto
_doc/examples/schema_pb2.py
_doc/examples/plot_*.png
_doc/examples/plot_*.xlsx
_doc/examples/*.html
_doc/_static/require.js
_doc/_static/viz.js
_doc/practice/mapreduce/*.gz
_doc/practice/mapreduce/mortality.*
_doc/practice/spark/*.csv
_doc/practice/spark/*.txt
_doc/practice/spark/*.zip
_doc/practice/spark/data_adult*
_doc/practice/spark/out*
_doc/practice/spark/target*
_doc/c_data/*.csv
_tutoriels/*/build/*
_tutoriels/cython_mat/mmat.cpp
_tutoriels/cython2/primes.cpp
_tutoriels/cython3/*.cpp
_tutoriels/cython4/*.cpp
_unittests/test_constants.h
_unittests/ut_datasets/*.gz
_unittests/ut_datasets/*.db3
_unittests/ut_datasets/*.txt
teachcompute/validation/cython/direct_blas_lapack_cy.cpp
teachcompute/validation/cython/dot_blas_lapack.cpp
teachcompute/validation/cython/dot_cython.cpp
teachcompute/validation/cython/dot_cython_omp.cpp
teachcompute/validation/cython/experiment_cython.cpp
teachcompute/validation/cython/mul_cython_omp.cpp
teachcompute/validation/cython/td_mul_cython.cpp
teachcompute/validation/cython/vector_function_cy.cpp
demo_mlifetable.tsv.gz
mortality.txt
