black
black-nb
clang-format
cloudpickle
cmakelang
coverage
cython
cytoolz
furo
ipython
jupyter
matplotlib
nbsphinx
numba
openpyxl
pandas
pillow
protobuf<4
pybind11
pyspark
pytest
pytest-cov
ruff
sphinx
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
tqdm
ujson
wheel
