black
black-nb
clang-format
cloudpickle
cmakelang
coverage
cython>=3.0.10
cython-lint
cytoolz
git+https://github.com/sdpython/experimental-experiment.git
furo
ipython
joblib
jupyter
matplotlib
mypy
nbsphinx
numba
onnx
openpyxl
pandas
pillow
protobuf
pybind11>=2.12
pyspark
pytest
pytest-cov
torch>=2.2
torchaudio
torchvision
transformers>=4.37.2
ruff
sphinx
sphinx-gallery
sphinx-issues
git+https://github.com/sdpython/sphinx-runpython.git
tqdm
ujson
wheel
